
html,body{
    overflow-x: hidden;
}

/* .homepage_bg{
    background-image: url("../src/assets/Images/maingrid.jpg");
} */

.bg-dotted {
    background: repeating-linear-gradient(
      180deg,
      gray 0,
      gray 2px,
      transparent 2px,
      transparent 4px
    );
  }
  